*.dat
*.mod
examples/x86_64
examples/test_files/x86_64
*.pyc
LEMS*_netpyne.py
*_nrn.py
*.hoc
/test_files/cons_locs_pathways_mc0_Column.h5
/build
/dist
/examples/test_files/cons_locs_pathways_mc0_Column.h5
/neuromllite.egg-info
*py.class
/test2.sh
/examples/*.gv
/examples/*gv.pdf
/examples/*.png
/examples/*.pov
/examples/*.ini
/examples/*_pynn.py
/examples/*_main.json
/examples/*.synapse.json
/examples/*_celldefinition.py
/examples/*_inputdefinition.py
report*.txt
/examples/LEMS_SimExample6_PyNN.xml
/examples/test_files/tests.log
/examples/LEMS_SimExample7.xml
/.DS_Store
/test3.sh
/*.gv.png
/300*
/9*
/SonataExport.net.nml
/*.gv
/testmac.sh
/regenerateAndTestmac.sh
/neuromllite/sweep/*.png
/neuromllite/test/temp/*
/neuromllite/sweep/*.gv
/neuromllite/sweep/ParamSweep_*
/neuromllite/sweep/Example_HHTest.json
/neuromllite/sweep/Example_PyNNTest.json
/neuromllite/sweep/Sim_HHTest.json
/neuromllite/sweep/Sim_PyNNTest.json
/neuromllite/sweep/HHTest.json
/neuromllite/sweep/HHTest.net.nml
/neuromllite/sweep/LEMS_Sim_HHTest.xml
/neuromllite/sweep/LEMS_Sim_PyNNTest.xml
/neuromllite/sweep/PyNNTest.json
/neuromllite/sweep/PyNNTest.net.nml
/examples/ParamSweep_*
/examples/*.spikes
/neuromllite/sweep/*.spikes
/neuromllite/sweep/x86_64
/neuromllite/sweep/Example7_Brunel2000.net.nml
/neuromllite/sweep/LEMS_SimExample7_ref0.xml
/neuromllite/*.gv
/neuromllite/*.gv.png
/neuromllite/*.spikes
/neuromllite/x86_64
