*.dat
*.mod
examples/x86_64
examples/test_files/x86_64
*.pyc
*_netpyne.py
*_nrn.py
*.hoc
/test_files/cons_locs_pathways_mc0_Column.h5
/build
/dist
/examples/test_files/cons_locs_pathways_mc0_Column.h5
/neuromllite.egg-info
*py.class
/test2.sh
